body {
    margin: 0;
    padding: 0;
}

#header {
    background-color: #2f2e2e;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    height: 100px;
}

.header-left {
    width: 50%;
}

.header-left img {
    max-width: 150px;
    margin-left: 30px;
    margin-top: 15px;
}

#body {
    color: #2f2e2e;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}

#body h1 {
    text-align: center;
}

.home-content {
    margin: 0 auto;
    display: block;
    width: 100%;
    max-width: 400px;
}

#footer {
    background-color: #2f2e2e;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    height: 50px;
    bottom: 0;
    position:absolute;
    width: 100%;
    text-align: center;
}

