@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
body {
    margin: 0;
    padding: 0;
}

/* unvisited link */
a:link {
    color: rgb(239, 255, 13);
  }
  /* visited link */
  a:visited {
    color: rgb(255, 230, 0);
  }
  /* mouse over link */
  a:hover {
    color: rgb(243, 97, 12);
  }
  /* selected link */
  a:active {
    color: rgb(228, 253, 1);
  }

  
/*header*/
#header {
    background-color: #333232;
    display: flex;
    height: 100px;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.logo {
    width: 200px;
    height: 100px;
}

.titulo {
    color: #fff;
    font-family: 'Courgette', cursive;
    font-size: 5vw;
}

.menu {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif; 
}


/*body*/

#body {
    color: #2f2e2e;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}

#body h1 {
    text-align: center;
}

.home-content {
    margin: 0 auto;
    display: block;
    width: 100%;
    max-width: 400px;
}

#tabela {

    border-collapse: collapse;
    width: 65%;
    font-size: 16pt;
    border: 1px solid black;
}

.tr1 {
    background-color: black;
    text-align: left;
}

.classe {
    background-color: grey;
    border: 1px solid black;
}

.dados {
    background-color: white;
    border: 1px solid black;
}


/*footer*/

#footer {
    background-color: #2f2e2e;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    height: 50px;
    bottom: 0;
    position:absolute;
    width: 100%;
    text-align: center;
}

