/* IMPORTS */
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");

/* ALL */
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* HEADER */
#header {
  background-color: #202020;
  display: flex;
  height: 100px;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.logo {
  width: 200px;
  height: 100px;
}

.titulo {
  color: #fff;
  font-family: "Courgette", cursive;
  font-size: 5vw;
}

.menu {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

.menu a {
  text-decoration: none;
}


a:link {
  color: #edb200;
}

a:visited {
  color: #edb200ab;
}

a:hover {
  color: #ee8916;
}

a:active {
  color: #dfee14;
}

.menu {
    list-style: none;
  }

/* BODY */
#body {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 100px;
  margin-top: 20px;
}


#body h1 {
  text-align: center;
}

.home-content {
  margin: 0 auto;
  display: block;
  width: 100%;
  max-width: 400px;
}

.falevend {
  margin-top: 50px;
}

.falevend a {
  text-decoration: none;
}

.formulario {
  max-width: 600px;
  display: block;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 100px;
}

.formulario div {
  margin: 10px 0;
}

#sobrenos {
  margin-top: 20px;
  margin-left: 27%;
  margin-right: 27%;
  font-family: Arial, Helvetica, sans-serif;
}

.para {
  margin-bottom: 50px;
}

#sobrenos h1 {
    text-align: center;
}

table {
  border-collapse: collapse;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

#tabela {
  margin-bottom: 100px;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.tr1 {
  background-color: black;
  text-align: left;
}

.classe {
  background-color: grey;
  border: 1px solid black;
}

.dados {
  background-color: white;
  border: 2px solid black;
  padding: 5px 10px;
}

#links {
  margin-top: 50px;
  text-align: center;
}

.ancora a {
  text-decoration: none;
}

.ancora {
  margin-left: 27%;
  margin-right: 27%;
}

#links a {
  text-decoration: none;
}

/* FOOTER*/
#footer {
  background-color: #202020;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  height: 70px;
  width: 100%;
  clear: both;
  position: fixed;
  display: flex;
  justify-content: center;
  bottom: 0;
}

.ancora {
  margin-left: 30%;
  margin-right: 30%;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 25px;
}

