/* IMPORTS */
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");

/* ALL */
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* HEADER */
#header {
  background-color: #333232;
  display: flex;
  height: 100px;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.logo {
  width: 200px;
  height: 100px;
}

.titulo {
  color: #fff;
  font-family: "Courgette", cursive;
  font-size: 5vw;
}

.menu {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

a:link {
  color: rgb(239, 255, 13);
}

a:visited {
  color: rgb(255, 230, 0);
}

a:hover {
  color: rgb(243, 97, 12);
}

a:active {
  color: rgb(228, 253, 1);
}

.menu {
    list-style: none;
  }

/* BODY */
#body {
  color: #2f2e2e;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
}


#body h1 {
  text-align: center;
  letter-spacing: 0, 4cm;
}

.home-content {
  margin: 0 auto;
  display: block;
  width: 100%;
  max-width: 400px;
}

.formulario {
  max-width: 600px;
  display: block;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif
}

.formulario div {
  margin: 10px 0;
}

#sobrenos {
  margin-left: 20%;
  margin-right: 20%;
  font-family: Arial, Helvetica, sans-serif;
}

table {
  border-collapse: collapse;
  font-size: 16pt;
  margin-left: 20%;
  margin-right: 20%;
}

.tr1 {
  background-color: black;
  text-align: left;
}

.classe {
  background-color: grey;
  border: 1px solid black;
}

.dados {
  background-color: white;
  border: 2px solid black;
  padding: 5px 10px;
}

/* FOOTER*/
#footer {
  background-color: #2f2e2e;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  height: 50px;
  width: 100%;
  clear: both;
  position: fixed;
  display: flex;
  justify-content: center;
  bottom: 0;
}

